{{ template "navbar.html" .Nav}}
<div class="page-header">
  <h1>About <small><span class="rbr">Run Boy Run</span></small></h1>
</div>
<div class="container"><div class="row">
  <div class="col-xs-12 col-md-7">
    <div class="bio">{{markdownBasic .Bio}}</div>
    {{with .Quotes}}
      <h2>What People Are Saying About <small><span class="rbr">Run Boy Run</span></small></h2>
      <div class="quotes">
        {{range .}}
          <blockquote class="panel">
            {{markdownBasic .Quote}}
            {{with .Attribution}}
            <footer><cite title="{{.Name}}"><small>{{if .URL}}<a href="{{.URL}}">{{end}}{{.Name}}{{with .Affiliation}}, {{.}}{{end}}{{if .URL}}</a>{{end}}</small></cite></footer>
            {{end}}
          </blockquote>
        {{end}}
      </div>
    {{end}}
  </div>
  <div class="col-xs-12 col-md-5">
    {{range .Headshots}}
      {{template "headshot.html" .}}
    {{end}}
  </div>
</div></div>
