{{ template "navbar.html" .Nav}}
<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Photos <small>of <span class="rbr">Run Boy Run</span></small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="photo-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {{range $i, $photo := .Photos}}
            <li data-target="#photo-carousel" data-slide-to="{{$i}}" {{if (eq $i 0)}}class="active"{{end}}></li>
          {{end}}
        </ol>

        <div class="carousel-inner">
          {{range $i, $photo := .Photos}}
            <div class="item{{if (eq $i 0)}} active{{end}}">
              <img src="/img/photos/carousel/{{$photo.Image}}" alt="Run Boy Run, {{$photo.Copyright}}" class="photo-preview" />
              <div class="carousel-caption">
                <p>
                  <a class="btn btn-default btn-xs" target="_blank" href="/img/photos/Large/{{$photo.Image}}"><span class="glyphicon glyphicon-download"></span> Download High Resolution</a>
                </p>
              </div>
            </div>
          {{end}}
        </div>

        <a class="left carousel-control" href="#photo-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#photo-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row photo-thumbs">
    {{range $i, $photo := .Photos}}
      <div class="col-xs-4 col-md-2">
        <a class="thumbnail{{if (eq $i 0)}} active{{end}}" href="#photo-carousel" data-slide-to="{{$i}}">
          <img src="/img/photos/matted/{{$photo.Image}}" class="img-responsive" />
        </a>
      </div>
    {{end}}
  </div>
</div>
